div(class="col-md-6 each-roommate-expense-js roommate-expense")
  div
    input(class='roommate-input' id=`focus-${index}` type='text' readonly=!editable value=`${name}`) 
  input(type='button' class='btn btn-sm btn-primary save-or-edit' id=`${index}` value=`${editable ? 'Save' : 'Edit'}`)
  button(class='btn btn-sm btn-primary remove-roommate-js' id=`${name}`) Remove Roommate
  ol(class="list-group")
      each val in list 
          li(class="list-group-item")= `${val.name}: ${val.roommateAmountDue}`
           
